@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Future Crusnik Website</h1>
</div>

Future plans:
<ul>
    <li>Corporation contract calculation via copy and pasting of inventory.</li>
    <li>Administration of member quotas.</li>
    <li>Calculation of CBP price ideally using an aggregation of endpoints. I don't totally trust Eve Appraisal's data.</li>
    <li>Manufacutring suggestions using collected data.</li>
    <li>Alliance LP store.</li>
</ul>
